@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,500;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
/*font-family: 'Fira Sans', sans-serif;*/
html {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  position: relative; }

/* GLOBALS */
.tooltip-inner {
  background: rgba(48, 72, 120, 0.95) !important;
  border: 1px solid #659ed7 !important; }

/* tooltips */
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #659ed7; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.3em !important;
  text-shadow: #e0e0e0 1px 1px 0; }

/* styling scrollbars*/
/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #659ed7;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #304878; }

.text_color {
  color: #304878 !important; }

.text-primary {
  color: #659ed7 !important; }

.text-info {
  color: #659ed7 !important; }

.text-info:hover {
  color: #659ed7 !important; }

.border-primary {
  border: 1px #304878 solid !important; }

.bg_warning {
  background-color: #4890d8 !important; }

.bg_warning:hover {
  opacity: 0.7 !important; }

.btn-primary {
  background-color: #659ed7 !important; }

.btn-primary:hover {
  background-color: #277fd6 !important;
  border: 1px solid #304878 !important; }

.btn-dark {
  background-color: #304878 !important; }

.btn-dark:hover {
  background-color: #277fd6 !important; }

.btn-info {
  background-color: #bed5ec !important; }

.btn-info:hover {
  background-color: #659ed7 !important; }

.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

.btn_responsive {
  width: 100%; }

select {
  cursor: pointer !important; }

select:focus {
  cursor: pointer !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

.overflow_wrap {
  overflow-wrap: break-word; }

.bg-secondary {
  background-color: #c0c0c0 !important; }

.bg-primary {
  background-color: #659ed7 !important; }

.bg-dark {
  background-color: #304878 !important; }

.bg-info {
  background-color: #bed5ec !important; }

.bg_dark_through {
  background-color: rgba(48, 72, 120, 0.8); }

.bg_light_through {
  background-color: rgba(255, 255, 255, 0.84); }

.bg_through {
  background-color: rgba(240, 240, 240, 0.379) !important; }

/* remove check on the dropdown link */
li > a.dropdown-toggle:after {
  display: none !important; }

/* end GLOBALS */
/*effect for the bg home page*/
#home {
  background: -moz- oldlinear-gradient(135deg, rgba(48, 72, 120, 0.8), rgba(102, 159, 216, 0.8), rgba(255, 255, 255, 0.8), rgba(64, 51, 189, 0.8));
  background: linear-gradient(-45deg, rgba(48, 72, 120, 0.8), rgba(102, 159, 216, 0.8), rgba(255, 255, 255, 0.8), rgba(64, 51, 189, 0.8));
  background-size: 300% 300%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  /*effect for the bg birthday part*/
  /*carousel*/
  /*reset standard styles*/
  /*end reset standard styles*/ }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  #home .particles span {
    width: 30vmin;
    height: 30vmin;
    border-radius: 30vmin;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    -webkit-animation-name: move;
    -moz-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    #home .particles span:nth-child(1) {
      color: #f3d9ff;
      top: 84%;
      left: 100%;
      -webkit-animation-duration: 11.3s;
      -moz-animation-duration: 11.3s;
      animation-duration: 11.3s;
      -webkit-animation-delay: -3.7s;
      -moz-animation-delay: -3.7s;
      animation-delay: -3.7s;
      -webkit-transform-origin: 13vw -13vh;
      -moz-transform-origin: 13vw -13vh;
      -ms-transform-origin: 13vw -13vh;
      transform-origin: 13vw -13vh;
      -webkit-box-shadow: 60vmin 0 16.31315vmin currentColor;
      box-shadow: 60vmin 0 16.31315vmin currentColor; }
    #home .particles span:nth-child(2) {
      color: #85e8ff;
      top: 93%;
      left: 76%;
      -webkit-animation-duration: 10.1s;
      -moz-animation-duration: 10.1s;
      animation-duration: 10.1s;
      -webkit-animation-delay: -16s;
      -moz-animation-delay: -16s;
      animation-delay: -16s;
      -webkit-transform-origin: 4vw 2vh;
      -moz-transform-origin: 4vw 2vh;
      -ms-transform-origin: 4vw 2vh;
      transform-origin: 4vw 2vh;
      -webkit-box-shadow: 60vmin 0 16.8796vmin currentColor;
      box-shadow: 60vmin 0 16.8796vmin currentColor; }
    #home .particles span:nth-child(3) {
      color: #f3d9ff;
      top: 31%;
      left: 5%;
      -webkit-animation-duration: 10.1s;
      -moz-animation-duration: 10.1s;
      animation-duration: 10.1s;
      -webkit-animation-delay: -8.7s;
      -moz-animation-delay: -8.7s;
      animation-delay: -8.7s;
      -webkit-transform-origin: -19vw -22vh;
      -moz-transform-origin: -19vw -22vh;
      -ms-transform-origin: -19vw -22vh;
      transform-origin: -19vw -22vh;
      -webkit-box-shadow: 60vmin 0 10.71195vmin currentColor;
      box-shadow: 60vmin 0 10.71195vmin currentColor; }
    #home .particles span:nth-child(4) {
      color: #c885ff;
      top: 8%;
      left: 56%;
      -webkit-animation-duration: 12.5s;
      -moz-animation-duration: 12.5s;
      animation-duration: 12.5s;
      -webkit-animation-delay: -5.1s;
      -moz-animation-delay: -5.1s;
      animation-delay: -5.1s;
      -webkit-transform-origin: 12vw -4vh;
      -moz-transform-origin: 12vw -4vh;
      -ms-transform-origin: 12vw -4vh;
      transform-origin: 12vw -4vh;
      -webkit-box-shadow: 60vmin 0 10.11716vmin currentColor;
      box-shadow: 60vmin 0 10.11716vmin currentColor; }
    #home .particles span:nth-child(5) {
      color: #c885ff;
      top: 48%;
      left: 70%;
      -webkit-animation-duration: 11.5s;
      -moz-animation-duration: 11.5s;
      animation-duration: 11.5s;
      -webkit-animation-delay: -14.7s;
      -moz-animation-delay: -14.7s;
      animation-delay: -14.7s;
      -webkit-transform-origin: -15vw -4vh;
      -moz-transform-origin: -15vw -4vh;
      -ms-transform-origin: -15vw -4vh;
      transform-origin: -15vw -4vh;
      -webkit-box-shadow: -60vmin 0 13.10729vmin currentColor;
      box-shadow: -60vmin 0 13.10729vmin currentColor; }
    #home .particles span:nth-child(6) {
      color: #c885ff;
      top: 71%;
      left: 8%;
      -webkit-animation-duration: 15.1s;
      -moz-animation-duration: 15.1s;
      animation-duration: 15.1s;
      -webkit-animation-delay: -12s;
      -moz-animation-delay: -12s;
      animation-delay: -12s;
      -webkit-transform-origin: -6vw 20vh;
      -moz-transform-origin: -6vw 20vh;
      -ms-transform-origin: -6vw 20vh;
      transform-origin: -6vw 20vh;
      -webkit-box-shadow: 60vmin 0 12.91769vmin currentColor;
      box-shadow: 60vmin 0 12.91769vmin currentColor; }
    #home .particles span:nth-child(7) {
      color: #85e8ff;
      top: 59%;
      left: 37%;
      -webkit-animation-duration: 14.8s;
      -moz-animation-duration: 14.8s;
      animation-duration: 14.8s;
      -webkit-animation-delay: -12.9s;
      -moz-animation-delay: -12.9s;
      animation-delay: -12.9s;
      -webkit-transform-origin: -6vw -3vh;
      -moz-transform-origin: -6vw -3vh;
      -ms-transform-origin: -6vw -3vh;
      transform-origin: -6vw -3vh;
      -webkit-box-shadow: 60vmin 0 16.12587vmin currentColor;
      box-shadow: 60vmin 0 16.12587vmin currentColor; }
    #home .particles span:nth-child(8) {
      color: #c885ff;
      top: 31%;
      left: 56%;
      -webkit-animation-duration: 14.3s;
      -moz-animation-duration: 14.3s;
      animation-duration: 14.3s;
      -webkit-animation-delay: -5.1s;
      -moz-animation-delay: -5.1s;
      animation-delay: -5.1s;
      -webkit-transform-origin: 13vw 12vh;
      -moz-transform-origin: 13vw 12vh;
      -ms-transform-origin: 13vw 12vh;
      transform-origin: 13vw 12vh;
      -webkit-box-shadow: -60vmin 0 16.16216vmin currentColor;
      box-shadow: -60vmin 0 16.16216vmin currentColor; }
    #home .particles span:nth-child(9) {
      color: #c885ff;
      top: 28%;
      left: 32%;
      -webkit-animation-duration: 12.4s;
      -moz-animation-duration: 12.4s;
      animation-duration: 12.4s;
      -webkit-animation-delay: -3.8s;
      -moz-animation-delay: -3.8s;
      animation-delay: -3.8s;
      -webkit-transform-origin: -5vw 16vh;
      -moz-transform-origin: -5vw 16vh;
      -ms-transform-origin: -5vw 16vh;
      transform-origin: -5vw 16vh;
      -webkit-box-shadow: -60vmin 0 18.86839vmin currentColor;
      box-shadow: -60vmin 0 18.86839vmin currentColor; }
    #home .particles span:nth-child(10) {
      color: #f3d9ff;
      top: 81%;
      left: 13%;
      -webkit-animation-duration: 10.7s;
      -moz-animation-duration: 10.7s;
      animation-duration: 10.7s;
      -webkit-animation-delay: -7.9s;
      -moz-animation-delay: -7.9s;
      animation-delay: -7.9s;
      -webkit-transform-origin: -20vw 5vh;
      -moz-transform-origin: -20vw 5vh;
      -ms-transform-origin: -20vw 5vh;
      transform-origin: -20vw 5vh;
      -webkit-box-shadow: -60vmin 0 8.58441vmin currentColor;
      box-shadow: -60vmin 0 8.58441vmin currentColor; }
    #home .particles span:nth-child(11) {
      color: #c885ff;
      top: 70%;
      left: 7%;
      -webkit-animation-duration: 10.7s;
      -moz-animation-duration: 10.7s;
      animation-duration: 10.7s;
      -webkit-animation-delay: -13.1s;
      -moz-animation-delay: -13.1s;
      animation-delay: -13.1s;
      -webkit-transform-origin: 18vw 13vh;
      -moz-transform-origin: 18vw 13vh;
      -ms-transform-origin: 18vw 13vh;
      transform-origin: 18vw 13vh;
      -webkit-box-shadow: -60vmin 0 13.94028vmin currentColor;
      box-shadow: -60vmin 0 13.94028vmin currentColor; }
    #home .particles span:nth-child(12) {
      color: #c885ff;
      top: 98%;
      left: 49%;
      -webkit-animation-duration: 11.5s;
      -moz-animation-duration: 11.5s;
      animation-duration: 11.5s;
      -webkit-animation-delay: -12.8s;
      -moz-animation-delay: -12.8s;
      animation-delay: -12.8s;
      -webkit-transform-origin: 5vw 3vh;
      -moz-transform-origin: 5vw 3vh;
      -ms-transform-origin: 5vw 3vh;
      transform-origin: 5vw 3vh;
      -webkit-box-shadow: 60vmin 0 20.34703vmin currentColor;
      box-shadow: 60vmin 0 20.34703vmin currentColor; }
    #home .particles span:nth-child(13) {
      color: #c885ff;
      top: 32%;
      left: 70%;
      -webkit-animation-duration: 14.3s;
      -moz-animation-duration: 14.3s;
      animation-duration: 14.3s;
      -webkit-animation-delay: -3.5s;
      -moz-animation-delay: -3.5s;
      animation-delay: -3.5s;
      -webkit-transform-origin: 14vw 12vh;
      -moz-transform-origin: 14vw 12vh;
      -ms-transform-origin: 14vw 12vh;
      transform-origin: 14vw 12vh;
      -webkit-box-shadow: -60vmin 0 22.1527vmin currentColor;
      box-shadow: -60vmin 0 22.1527vmin currentColor; }
    #home .particles span:nth-child(14) {
      color: #85e8ff;
      top: 61%;
      left: 72%;
      -webkit-animation-duration: 10.5s;
      -moz-animation-duration: 10.5s;
      animation-duration: 10.5s;
      -webkit-animation-delay: -4.1s;
      -moz-animation-delay: -4.1s;
      animation-delay: -4.1s;
      -webkit-transform-origin: -22vw 3vh;
      -moz-transform-origin: -22vw 3vh;
      -ms-transform-origin: -22vw 3vh;
      transform-origin: -22vw 3vh;
      -webkit-box-shadow: 60vmin 0 20.82945vmin currentColor;
      box-shadow: 60vmin 0 20.82945vmin currentColor; }
    #home .particles span:nth-child(15) {
      color: #f3d9ff;
      top: 16%;
      left: 2%;
      -webkit-animation-duration: 10.4s;
      -moz-animation-duration: 10.4s;
      animation-duration: 10.4s;
      -webkit-animation-delay: -8.5s;
      -moz-animation-delay: -8.5s;
      animation-delay: -8.5s;
      -webkit-transform-origin: 22vw -17vh;
      -moz-transform-origin: 22vw -17vh;
      -ms-transform-origin: 22vw -17vh;
      transform-origin: 22vw -17vh;
      -webkit-box-shadow: 60vmin 0 11.04931vmin currentColor;
      box-shadow: 60vmin 0 11.04931vmin currentColor; }
    #home .particles span:nth-child(16) {
      color: #f3d9ff;
      top: 90%;
      left: 84%;
      -webkit-animation-duration: 15.5s;
      -moz-animation-duration: 15.5s;
      animation-duration: 15.5s;
      -webkit-animation-delay: -11.8s;
      -moz-animation-delay: -11.8s;
      animation-delay: -11.8s;
      -webkit-transform-origin: -11vw -2vh;
      -moz-transform-origin: -11vw -2vh;
      -ms-transform-origin: -11vw -2vh;
      transform-origin: -11vw -2vh;
      -webkit-box-shadow: 60vmin 0 16.43107vmin currentColor;
      box-shadow: 60vmin 0 16.43107vmin currentColor; }
    #home .particles span:nth-child(17) {
      color: #f3d9ff;
      top: 29%;
      left: 96%;
      -webkit-animation-duration: 14.1s;
      -moz-animation-duration: 14.1s;
      animation-duration: 14.1s;
      -webkit-animation-delay: -0.4s;
      -moz-animation-delay: -0.4s;
      animation-delay: -0.4s;
      -webkit-transform-origin: -7vw 4vh;
      -moz-transform-origin: -7vw 4vh;
      -ms-transform-origin: -7vw 4vh;
      transform-origin: -7vw 4vh;
      -webkit-box-shadow: 60vmin 0 20.09966vmin currentColor;
      box-shadow: 60vmin 0 20.09966vmin currentColor; }
    #home .particles span:nth-child(18) {
      color: #85e8ff;
      top: 72%;
      left: 12%;
      -webkit-animation-duration: 10.2s;
      -moz-animation-duration: 10.2s;
      animation-duration: 10.2s;
      -webkit-animation-delay: -5.2s;
      -moz-animation-delay: -5.2s;
      animation-delay: -5.2s;
      -webkit-transform-origin: 11vw -5vh;
      -moz-transform-origin: 11vw -5vh;
      -ms-transform-origin: 11vw -5vh;
      transform-origin: 11vw -5vh;
      -webkit-box-shadow: -60vmin 0 20.196vmin currentColor;
      box-shadow: -60vmin 0 20.196vmin currentColor; }
    #home .particles span:nth-child(19) {
      color: #85e8ff;
      top: 65%;
      left: 96%;
      -webkit-animation-duration: 10.8s;
      -moz-animation-duration: 10.8s;
      animation-duration: 10.8s;
      -webkit-animation-delay: -12.2s;
      -moz-animation-delay: -12.2s;
      animation-delay: -12.2s;
      -webkit-transform-origin: 0vw 11vh;
      -moz-transform-origin: 0vw 11vh;
      -ms-transform-origin: 0vw 11vh;
      transform-origin: 0vw 11vh;
      -webkit-box-shadow: 60vmin 0 21.30704vmin currentColor;
      box-shadow: 60vmin 0 21.30704vmin currentColor; }
    #home .particles span:nth-child(20) {
      color: #c885ff;
      top: 61%;
      left: 78%;
      -webkit-animation-duration: 10.3s;
      -moz-animation-duration: 10.3s;
      animation-duration: 10.3s;
      -webkit-animation-delay: -5.1s;
      -moz-animation-delay: -5.1s;
      animation-delay: -5.1s;
      -webkit-transform-origin: -4vw -12vh;
      -moz-transform-origin: -4vw -12vh;
      -ms-transform-origin: -4vw -12vh;
      transform-origin: -4vw -12vh;
      -webkit-box-shadow: -60vmin 0 9.18652vmin currentColor;
      box-shadow: -60vmin 0 9.18652vmin currentColor; }

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

@-moz-keyframes move {
  100% {
    -moz-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    -moz-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
  #home .carousel-item > .carousel-caption {
    background-color: rgba(240, 240, 240, 0.379) !important; }
  #home .carousel-control-prev,
  #home .carousel-control-prev:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 0.7;
    text-shadow: none; }
  #home .carousel-control-next,
  #home .carousel-control-next:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 0.7;
    text-shadow: none; }
  #home .carousel-indicators li {
    background-color: #304878 !important;
    background-clip: unset !important;
    width: 20px !important;
    height: 0 !important;
    margin-bottom: 7px !important;
    border-radius: 30px !important;
    position: relative; }
    #home .carousel-indicators li::after {
      content: '';
      position: absolute;
      border: #ffffff 2px solid;
      left: 0;
      top: -10px;
      right: 0;
      bottom: 0;
      height: 20px;
      border-radius: 30px; }
  #home .carousel-control-prev .carousel-control-prev-icon,
  #home .carousel-control-next .carousel-control-next-icon {
    background-color: #c0c0c0;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    margin-top: -2em;
    width: 2em;
    border: 1px solid #659ed7;
    border-radius: 0.2em;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    transition: all 1.2s ease; }
  #home .carousel-control-prev .carousel-control-prev-icon {
    left: 0.8em;
    margin-left: 0; }
  #home .carousel-control-next .carousel-control-next-icon {
    right: 0.8em;
    margin-right: 0; }
  #home .carousel-control-prev:hover .carousel-control-prev-icon,
  #home .carousel-control-next:hover .carousel-control-next-icon {
    background-color: #304878; }

.bg_birthday {
  background-color: rgba(240, 240, 240, 0.379);
  width: 39.8125em;
  z-index: 1; }

.bg_announcement {
  background: url("../img/announcement-bg.jpg") left/cover no-repeat; }

.width_announcement {
  width: 39.8125em;
  opacity: 0.8; }

.best_team,
.log_in,
.mgok_news,
.news_description,
.news,
.respect_desk {
  background-color: rgba(255, 255, 255, 0.84); }

.logo {
  border: 2px #ffffff solid;
  border-radius: 40px;
  background: #ffffff !important; }

.logo:hover {
  opacity: 0.65; }

.text-logo {
  font-size: 2.2em !important; }

/* navigation */
.navbar {
  /*bg-menu*/
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 72, 120, 0.9)), to(rgba(72, 144, 216, 0.8))), url("../img/logo-video.jpeg") 50% 42%/cover no-repeat;
  background: -moz- oldlinear-gradient(top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/logo-video.jpeg") 50% 42%/cover no-repeat;
  background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/logo-video.jpeg") 50% 42%/cover no-repeat;
  border-bottom: #ffffff 3px solid;
  opacity: 0.95;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  /* nav-links on focus */
  /*toggler*/
  /* border for my-data button */
  /* submenus */ }
  .navbar .navbar-nav :nth-child(6) > .nav-link:focus,
  .navbar .navbar-nav :nth-child(7) > .nav-link:focus,
  .navbar .navbar-nav :nth-child(8) > .nav-link:focus,
  .navbar .navbar-nav :nth-child(9) > .nav-link:focus,
  .navbar .navbar-nav :nth-child(10) > .nav-link:focus {
    background-color: transparent !important; }
  .navbar button.navbar-toggler {
    background-color: #659ed7 !important;
    border: #ffffff; }
  .navbar button.navbar-toggler:focus {
    background: #304878 !important;
    border: 1px solid #ffffff !important; }
  .navbar .nav-item > .dropdown-toggle {
    font-weight: 400;
    width: 100%;
    position: relative;
    /* inline border on hover */ }
    .navbar .nav-item > .dropdown-toggle::before {
      opacity: 0;
      content: "";
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      border: 1px solid #ffffff;
      border-radius: 0.25em;
      position: absolute; }
    .navbar .nav-item > .dropdown-toggle:hover::before {
      opacity: 1;
      -webkit-transition: opacity 550ms ease;
      -moz-transition: opacity 550ms ease;
      transition: opacity 550ms ease; }
  .navbar .nav-link:focus,
  .navbar .nav-link:active {
    color: #304878 !important;
    background-color: #4890d8 !important; }
  .navbar #my-data a::after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 0.25em;
    border: 1px solid #ffffff; }
  .navbar .dropdown-menu {
    min-width: 14.2rem !important; }
  .navbar .dropdown-item {
    background-color: #659ed7 !important; }
  .navbar .dropdown-item:hover,
  .navbar .dropdown-item:active,
  .navbar .dropdown-item:focus,
  .navbar .dropdown-item:focus-within,
  .navbar .dropdown-item:target {
    background-color: #277fd6 !important; }
  .navbar .dropdown-submenu .dropdown-menu {
    top: -2px;
    left: 226px; }

.navbar:hover,
.dropdown-item:hover {
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

/* login page */
#login {
  background: url("../img/main-bg.jpg") bottom/cover fixed no-repeat;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */ }
  #login section .log_in {
    min-height: 80vh; }
  #login input::-webkit-outer-spin-button,
  #login input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #login input[type="number"] {
    -moz-appearance: textfield; }
  #login input::-webkit-input-placeholder:focus {
    color: #304878 !important; }
  #login input::-moz-placeholder:focus {
    color: #304878 !important; }
  #login input::-ms-input-placeholder:focus {
    color: #304878 !important; }
  #login input::placeholder:focus {
    color: #304878 !important; }
  #login ::-webkit-input-placeholder {
    color: #304878 !important; }
  #login ::-moz-placeholder {
    color: #304878 !important; }
  #login ::-ms-input-placeholder {
    color: #304878 !important; }
  #login ::placeholder {
    color: #304878 !important; }
  #login .link_to_registration:hover {
    color: #277fd6 !important; }

#main {
  background: url("../img/main-bg.jpg") left/cover no-repeat;
  min-height: 100vh; }
  #main .news {
    min-height: 110vh; }
  #main .card-header:hover {
    opacity: 0.9 !important; }
  #main #news-category .card-body {
    background-color: rgba(48, 72, 120, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
    #main #news-category .card-body::before, #main #news-category .card-body::after {
      content: "";
      position: absolute;
      top: 3.25em;
      bottom: 3.25em;
      left: 3.25em;
      right: 3.25em;
      z-index: -1; }
    #main #news-category .card-body::before {
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: -webkit-transform ease-in-out 250ms;
      transition: -webkit-transform ease-in-out 250ms;
      -moz-transition: transform ease-in-out 250ms, -moz-transform ease-in-out 250ms;
      transition: transform ease-in-out 250ms;
      transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms, -moz-transform ease-in-out 250ms;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff; }
    #main #news-category .card-body:hover::before {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
    #main #news-category .card-body::after {
      -webkit-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      transform: scale(1, 0);
      -webkit-transition: -webkit-transform ease-in-out 250ms;
      transition: -webkit-transform ease-in-out 250ms;
      -moz-transition: transform ease-in-out 250ms, -moz-transform ease-in-out 250ms;
      transition: transform ease-in-out 250ms;
      transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms, -moz-transform ease-in-out 250ms;
      border-left: 3px solid #ffffff;
      border-right: 3px solid #ffffff; }
    #main #news-category .card-body:hover::after {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
    #main #news-category .card-body .news_link:hover {
      opacity: 0.8; }
  #main #mgok-news .card {
    cursor: pointer;
    height: 35em;
    z-index: 1;
    opacity: 0.8; }
    #main #mgok-news .card:hover {
      opacity: 1; }
    #main #mgok-news .card::after {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
      z-index: 0; }
    #main #mgok-news .card::after {
      border: 2px solid #ffffff;
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      transform: scale(0, 0); }
    #main #mgok-news .card:hover::after {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
  #main #mgok-news .span_accent {
    right: 0.5em;
    top: 0.5em; }
  #main #mgok-news .card-title,
  #main #mgok-news .card-text {
    text-align: justify; }
  #main #mgok-news .card-footer > a {
    z-index: 5; }
  #main .page-link:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }
  #main #news-description .card-title,
  #main #news-description .card-text {
    text-align: justify; }
  #main #news-description .gallery {
    display: none;
    /*modal*/ }
    #main #news-description .gallery .work-item-img {
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    #main #news-description .gallery .work-item:hover .work-item-img {
      opacity: 0.5;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    #main #news-description .gallery .work-item-icon {
      position: absolute;
      color: #ffffff;
      top: 60%;
      left: 50%;
      font-size: 3.5rem;
      text-decoration: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    #main #news-description .gallery .work-item:hover .work-item-icon {
      -webkit-transform: scale(1.3) translate(-50%, -50%);
      -moz-transform: scale(1.3) translate(-50%, -50%);
      -ms-transform: scale(1.3) translate(-50%, -50%);
      transform: scale(1.3) translate(-50%, -50%); }
    #main #news-description .gallery .work-item-icon:hover {
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer; }
    #main #news-description .gallery .work-modal-close {
      font-size: 3rem;
      bottom: 95%;
      right: 0%;
      -webkit-transition: al 0.5s linear;
      -moz-transition: al 0.5s linear;
      transition: al 0.5s linear;
      cursor: pointer;
      text-decoration: none;
      opacity: 1; }
  #main #respect-desk h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 72, 120, 0.9)), to(rgba(72, 144, 216, 0.8)));
    background: -moz- oldlinear-gradient(top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
    background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
    font-family: "Cormorant Infant", sans-serif;
    text-shadow: #ffffff 0 0 3px;
    -webkit-animation: pulse 5000ms infinite;
    -moz-animation: pulse 5000ms infinite;
    animation: pulse 5000ms infinite; }

@-webkit-keyframes pulse {
  0% {
    text-shadow: #ffffff 0 0 0px; }
  25% {
    text-shadow: #ffffff 0 0 1px; }
  50% {
    text-shadow: #ffffff 0 0 2px; }
  75% {
    text-shadow: #ffffff 0 0 3px; }
  100% {
    text-shadow: #ffffff 0 0 1px; } }

@-moz-keyframes pulse {
  0% {
    text-shadow: #ffffff 0 0 0px; }
  25% {
    text-shadow: #ffffff 0 0 1px; }
  50% {
    text-shadow: #ffffff 0 0 2px; }
  75% {
    text-shadow: #ffffff 0 0 3px; }
  100% {
    text-shadow: #ffffff 0 0 1px; } }

@keyframes pulse {
  0% {
    text-shadow: #ffffff 0 0 0px; }
  25% {
    text-shadow: #ffffff 0 0 1px; }
  50% {
    text-shadow: #ffffff 0 0 2px; }
  75% {
    text-shadow: #ffffff 0 0 3px; }
  100% {
    text-shadow: #ffffff 0 0 1px; } }
  #main #respect-desk .card .respect_name > p {
    text-shadow: #ffffff 0 0 2px; }
  #main #respect-desk .card .card-body {
    text-align: justify; }
    #main #respect-desk .card .card-body > p {
      line-height: 1.25 !important; }
    #main #respect-desk .card .card-body .respect_item_name {
      font-family: "Cormorant Infant", sans-serif; }
  #main #best-team {
    /* On hover, add a black background color with a little bit see-through */
    /* Number text (1/3 etc) */
    /* Add a transparency effect for thumnbail images */ }
    #main #best-team h2 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 72, 120, 0.9)), to(rgba(72, 144, 216, 0.8)));
      background: -moz- oldlinear-gradient(top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
      background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
      font-family: "Cormorant Infant", sans-serif;
      text-shadow: #ffffff 0 0 3px;
      -webkit-animation: pulse 5000ms infinite;
      -moz-animation: pulse 5000ms infinite;
      animation: pulse 5000ms infinite; }
    #main #best-team img {
      vertical-align: middle; }
    #main #best-team .mySlides {
      display: none;
      max-height: 75vh; }
      #main #best-team .mySlides .img-width {
        width: 100%; }
    #main #best-team .cursor {
      cursor: pointer;
      width: 100%; }
    #main #best-team .prev,
    #main #best-team .next {
      cursor: pointer;
      top: 45%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: #304878;
      font-size: 20px;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none; }
    #main #best-team .prev {
      left: 5%;
      border-radius: 3px 0 0 3px; }
    #main #best-team .next {
      right: 5%;
      border-radius: 3px 0 0 3px; }
    #main #best-team .prev:hover,
    #main #best-team .next:hover {
      background-color: rgba(48, 72, 120, 0.8);
      color: #ffffff; }
    #main #best-team .numbertext {
      color: #659ed7;
      font-size: 16px;
      padding: 8px 12px; }
    #main #best-team .demo {
      opacity: 0.8;
      width: 100%; }
    #main #best-team .active,
    #main #best-team .demo:hover {
      opacity: 1; }
    #main #best-team .team_descr {
      text-align: justify; }

#personalRoom {
  min-height: 120vh;
  background-color: rgba(255, 255, 255, 0.84); }
  #personalRoom .load {
    display: none;
    min-height: 50vh; }
    #personalRoom .load .preload {
      height: 10em;
      width: 10em;
      border-radius: 50%;
      border: 1em solid #c0c0c0;
      -webkit-animation: 3s pre linear infinite;
      -moz-animation: 3s pre linear infinite;
      animation: 3s pre linear infinite; }

@-webkit-keyframes pre {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 1em solid #304878; }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-top: 1em solid #277fd6; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 1em solid #304878; }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-top: 1em solid #277fd6; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 1em solid #277fd6; } }

@-moz-keyframes pre {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 1em solid #304878; }
  25% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    border-top: 1em solid #277fd6; }
  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 1em solid #304878; }
  75% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    border-top: 1em solid #277fd6; }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 1em solid #277fd6; } }

@keyframes pre {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 1em solid #304878; }
  25% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    border-top: 1em solid #277fd6; }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 1em solid #304878; }
  75% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    border-top: 1em solid #277fd6; }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 1em solid #277fd6; } }
  #personalRoom .btn-transparent:hover {
    color: #659ed7 !important; }
  #personalRoom .list_library button.btn-link:hover,
  #personalRoom .list_library button.btn-link:focus {
    text-decoration: none !important;
    color: #304878 !important; }
  #personalRoom #personalRoom .list_library ul {
    list-style-type: none; }
  #personalRoom .list_library a:hover,
  #personalRoom .list_library a:focus {
    text-decoration: none !important;
    color: #304878 !important; }
  #personalRoom .list_library::-webkit-scrollbar {
    display: none; }
  #personalRoom .list_library {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
  #personalRoom table {
    table-layout: fixed !important;
    line-height: 1 !important;
    padding: 0.5em !important;
    width: 100%;
    font-size: 0.9em !important;
    overflow: hidden !important; }
    #personalRoom table tbody td,
    #personalRoom table tbody th {
      padding: 5px !important;
      overflow: hidden !important; }
    #personalRoom table tbody td:nth-of-type(2) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(3) {
      width: 6%; }
    #personalRoom table tbody td:nth-of-type(4) {
      width: 0.1%; }
    #personalRoom table tbody td:nth-of-type(5) {
      width: 7.5%; }
    #personalRoom table tbody td:nth-of-type(6) {
      width: 3.95%; }
    #personalRoom table tbody td:nth-of-type(7) {
      width: 5%; }
    #personalRoom table tbody td:nth-of-type(8) {
      width: 3.95%; }
    #personalRoom table tbody td:nth-of-type(9) {
      width: 80px; }
    #personalRoom table tbody td:nth-of-type(10) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(12) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(13) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(14) {
      width: 7%; }
    #personalRoom table tbody td:nth-of-type(15) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(16) {
      width: 0.01%; }
    #personalRoom table tbody td:nth-of-type(17) {
      width: 80px; }
    #personalRoom table tbody tr:first-of-type {
      background-color: #bed5ec !important;
      font-size: 1.2em !important;
      font-weight: 500 !important;
      font-style: italic; }
    #personalRoom table tbody tr:nth-of-type(2),
    #personalRoom table tbody tr:nth-of-type(8) {
      font-size: 0.8em !important;
      font-weight: 500 !important;
      font-style: italic; }
    #personalRoom table tbody tr:nth-of-type(3) > :first-child {
      font-size: 1.1em !important; }
    #personalRoom table tbody tr:first-of-type,
    #personalRoom table tbody tr:nth-of-type(3),
    #personalRoom table tbody tr:nth-of-type(5),
    #personalRoom table tbody tr:nth-of-type(7),
    #personalRoom table tbody tr:nth-of-type(12),
    #personalRoom table tbody tr:last-of-type {
      font-weight: 700; }
    #personalRoom table tbody tr:nth-last-of-type(3) {
      font-weight: 700; }
    #personalRoom table tbody tr:first-of-type,
    #personalRoom table tbody tr:nth-of-type(2),
    #personalRoom table tbody tr:nth-of-type(3),
    #personalRoom table tbody tr:nth-of-type(5) {
      overflow: unset !important; }
    #personalRoom table tbody tr:nth-of-type(10) {
      background-color: #bed5ec !important; }
      #personalRoom table tbody tr:nth-of-type(10) td:nth-of-type(5),
      #personalRoom table tbody tr:nth-of-type(10) td:nth-of-type(7) {
        overflow: unset !important; }
    #personalRoom table tbody tr:nth-of-type(11) {
      font-size: 0.75em !important; }

#footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(48, 72, 120, 0.9)), to(rgba(72, 144, 216, 0.8))), url("../img/bg-test.jpg") center/cover no-repeat;
  background: -moz- oldlinear-gradient(bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/bg-test.jpg") center/cover no-repeat;
  background: linear-gradient(to top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/bg-test.jpg") center/cover no-repeat;
  line-height: 1.25 !important; }
  #footer .social_link {
    color: #ffffff !important; }
  #footer .social_link:hover {
    color: #bed5ec !important; }

.scrollup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: rgba(240, 240, 240, 0.379);
  z-index: 1000; }

@media screen and (min-width: 480px) and (max-width: 576px) {
  #login,
  #main,
  #info_library,
  #home {
    background-attachment: scroll; } }

@media screen and (min-width: 768px) and (max-width: 1198px) {
  /*submenus*/
  .navbar .dropdown-submenu .dropdown-menu {
    top: -2px;
    left: 225px; } }

@media screen and (max-width: 1198px) {
  #personalRoom .table table {
    width: 900px !important; } }

@media screen and (min-width: 276px) and (max-width: 992px) {
  #news-description .gallery {
    display: none; }
    #news-description .gallery .work-item-img {
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    #news-description .gallery .work-item not:hover .work-item-img {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    #news-description .gallery .work-item-icon {
      top: 0;
      left: 0;
      right: 0;
      bottom: -117px;
      -webkit-transform: scale(2) !important;
      -moz-transform: scale(2) !important;
      -ms-transform: scale(2) !important;
      transform: scale(2) !important;
      opacity: 0.5; }
  #respect-desk .card .respect_name {
    width: 100%;
    top: 90%;
    left: 50%;
    line-height: 1 !important;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 1;
    -webkit-transform: translate(-50%, -90%);
    -moz-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%); }
  #respect-desk .card .card-img-top {
    opacity: 1;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible; }
  #respect-desk .card not:hover .card-img-top {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .btn_responsive {
    width: 50%; } }

@media (min-width: 576px) {
  h3 {
    font-size: 1.3em; } }

@media (min-width: 768px) {
  .navbar {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 72, 120, 0.9)), to(rgba(72, 144, 216, 0.8))), url("../img/header-idea.jpg") left/cover no-repeat;
    background: -moz- oldlinear-gradient(top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/header-idea.jpg") left/cover no-repeat;
    background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)), url("../img/header-idea.jpg") left/cover no-repeat; }
  h3 {
    font-size: 1.4em; }
  #respect-desk .card {
    height: auto;
    overflow: unset; } }

@media (min-width: 992px) {
  h3 {
    font-size: 1.6em; }
  #respect-desk .card {
    height: 545px;
    overflow: hidden; }
    #respect-desk .card .respect_name {
      width: 100%;
      top: 95%;
      left: 50%;
      line-height: 1 !important;
      -webkit-transition: 500ms ease;
      -moz-transition: 500ms ease;
      transition: 500ms ease;
      opacity: 0;
      -webkit-transform: translate(50%, 95%);
      -moz-transform: translate(50%, 95%);
      -ms-transform: translate(50%, 95%);
      transform: translate(50%, 95%); }
    #respect-desk .card .card-img-top {
      opacity: 0.85;
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: 1500ms linear;
      -moz-transition: 1500ms linear;
      transition: 1500ms linear;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden; }
    #respect-desk .card:hover .card-img-top {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      opacity: 1; }
    #respect-desk .card:hover .respect_name {
      opacity: 1;
      -webkit-transform: translate(-50%, -95%);
      -moz-transform: translate(-50%, -95%);
      -ms-transform: translate(-50%, -95%);
      transform: translate(-50%, -95%); }
    #respect-desk .card:hover {
      height: auto;
      position: absolute;
      overflow: unset;
      z-index: 100; }
  .scrollup {
    display: none;
    position: fixed;
    bottom: 155px;
    right: 20px;
    background-color: rgba(240, 240, 240, 0.379);
    z-index: 1000; } }

@media screen and (max-width: 768px) {
  .navbar .nav-link:focus {
    background-color: transparent !important;
    color: #ffffff !important; }
  .navbar #my-data a::after {
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: -5%;
    right: -5%;
    border-radius: 0.25em;
    border: 1px solid #ffffff; }
  .navbar .width_dropdown_smallscreen {
    width: 100%; }
  #news-category .card-body {
    z-index: 1; }
    #news-category .card-body::before, #news-category .card-body::after {
      display: none; }
    #news-category .card-body not:hover::before {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      transform: scale(0, 0); }
    #news-category .card-body not:hover::after {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      transform: scale(0, 0); } }

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 2.4em; }
  #main .info_announcement {
    height: 277px; } }
