$white-color: #ffffff;
$primary-color: #304878;
$primary-color-through: rgba(48, 72, 120, 0.8);
$primary-common: #659ed7;
$primary-common-light: #bed5ec;
$primary-common-light-through: rgba(190, 213, 236, 0.8);
$primary-dark: #277fd6;
$primary-light: #c0c0c0;
$primary-light-through: rgba(192, 192, 192, 0.8);
$primary-lighter: #d8d8d8;
$primary-lightest: #f0f0f0;
$primary-lightest-through: rgba(240, 240, 240, 0.379);
$dark-overlay: rgba(0, 0, 0, 0.4);
$light-through: rgba(255, 255, 255, 0.84);
$nav-link-focus: #4890d8;
$shadow: #e0e0e0 1px 1px 0;
$shadow-dark: $dark-overlay 1px 1px 0;
$shadow-dark-primary: $primary-dark 1px 1px 0;
$bg-navbar: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)) !important;

/* GLOBALS */

@font-face {
    font-family: "Cormorant Infant";
    src: url("../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
}

// @import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,500;1,300;1,400;1,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
/*font-family: 'Fira Sans', sans-serif;*/

/* hide horizontal scroll */
html {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: $primary-color transparent;
    scrollbar-width: 5px;
}

::selection {
    color: $white-color;
    background-color: $primary-color;
}

/* body styling */
body {
    background: $primary-lightest;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    color: $primary-color;
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* tooltips */

.tooltip-inner {
    background: rgba(48, 72, 120, 0.95) !important;
    border: 1px solid $primary-common !important;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $primary-common;
}

/* headers styling */
h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em !important;
    text-shadow: $shadow;
}

/* styling scrollbars*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: $primary-common;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    font-size: 1.2em;
    color: $primary-color;
}

input:focus,
input:active {
    background-color: $primary-common-light !important;
    color: $primary-color;
    opacity: 1;
}

::placeholder {
    color: $primary-color !important;
    opacity: 0.5 !important;
}

input::placeholder:focus,
input::placeholder:active {
    color: $primary-color !important;
}

.text_color {
    color: $primary-color !important;
}

.text-primary {
    color: $primary-common !important;
}

.text-info {
    color: $primary-common !important;
    &:hover {
        color: $primary-common !important;
    }
}

.border-primary {
    border: 1px $primary-color solid !important;
}

.bg_warning {
    background-color: $nav-link-focus !important;
}
.bg_warning:hover {
    opacity: 0.7 !important;
}

.btn-primary {
    background-color: $primary-common !important;
}

.btn-primary:hover {
    background-color: $primary-dark !important;
    border: 1px solid $primary-color !important;
}

.btn-dark {
    background-color: $primary-color !important;
}

.btn-dark:hover {
    background-color: $primary-dark !important;
}

.btn-info {
    background-color: $primary-common-light !important;
}

.btn-info:hover {
    background-color: $primary-common !important;
}

.btn-outline-secondary {
    border: 1px solid $primary-color !important;
    color: $primary-color !important;

    &:hover {
        background-color: $primary-dark !important;
        color: $white-color !important;
    }
}

/* remove outlines from buttons and select */
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

select:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    outline: none !important;
}

select {
    cursor: pointer !important;
}

.btn_responsive {
    width: 100%;
}

.overflow_wrap {
    overflow-wrap: break-word;
}

.bg_muted {
    background-color: $primary-lightest;
}

.bg-secondary {
    background-color: $primary-light !important;
}

.bg-primary {
    background-color: $primary-common !important;
}

.bg-dark {
    background-color: $primary-color !important;
}

.bg_dark_overlay {
    background-color: $dark-overlay;
}

.bg-info {
    background-color: $primary-common-light !important;
}

.bg_info_through {
    background-color: $primary-common-light-through;
}

.bg_dark_through {
    background-color: $primary-color-through;
}

.bg_light_through {
    background-color: $light-through;
}

.bg_linear_dark {
    background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)) !important;
}

/* remove check on the dropdown link */
li {
    > a.dropdown-toggle {
        &:after {
            display: none !important;
        }
    }
}

small.form-text {
    color: $primary-color !important;
}

/*carousel*/

/*reset standard styles*/
.carousel-control-prev,
.carousel-control-prev:hover {
    filter: none;
    opacity: 0.7;
    text-shadow: none;
}

.carousel-control-next,
.carousel-control-next:hover {
    filter: none;
    opacity: 0.7;
    text-shadow: none;
}

/* previous and next buttons styling */

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-color: transparent;
    font-size: 1.5em;
    height: 3em;
    width: 2em;
    padding-top: 15px;
    border: 1px solid $primary-color;
    border-radius: 0.2em;
    transition: all 500ms ease;
}

.carousel-control-prev .carousel-control-prev-icon {
    left: 0.8em;
    margin-left: -4.8vw;
    background-image: none !important;
}

.carousel-control-next .carousel-control-next-icon {
    right: 0.8em;
    margin-right: -4.8vw;
    background-image: none !important;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: $primary-color;
    cursor: pointer;
}

.float_left {
    float: left;
}

.dot {
    font-size: 10px !important;
}

/* end GLOBALS */

/* gradient with opacity for sections */

.log_in {
    background-color: $light-through;
    min-height: 100vh;
}

/* set border to the logo */
.logo {
    border: 2px $white-color solid;
    border-radius: 40px;
    background: $white-color !important;
}
.logo:hover {
    opacity: 0.65;
}
/* size of the logo text */
.text-logo {
    font-size: 2.2em !important;
    color: $white-color;
}

/* navigation */
.navbar {
    /*bg-menu*/
    min-height: 71px;
    max-height: 100vh;
    // background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)),
    //     url("../img/logo-video.jpeg") 50% 42% / cover no-repeat;
    background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)),
        url("../img/mgok-video.jpg") center/cover no-repeat;
    border-bottom: $white-color 3px solid;
    opacity: 0.95;
    transition: top 0.5s;

    /* nav-links on focus/hover */

    .navbar-nav :last-child > ul > li > a:hover {
        opacity: 0.5;
        transition: all 500ms ease;
    }

    .navbar-nav :nth-child(6) > .nav-link:focus,
    .navbar-nav :nth-child(7) > .nav-link:focus,
    .navbar-nav :nth-child(8) > .nav-link:focus,
    .navbar-nav :nth-child(9) > .nav-link:focus,
    .navbar-nav :nth-child(10) > .nav-link:focus {
        background-color: transparent !important;
    }

    /*toggler*/
    button.navbar-toggler {
        background-color: $primary-common !important;
        border: $white-color;
        margin-right: 2px;
    }

    @-moz-document url-prefix() {
        button.navbar-toggler {
            margin-right: -5px;
        }
    }

    //style for the menu button on focus

    button.navbar-toggler:focus {
        background: $primary-color !important;
        border: 1px solid $white-color !important;
    }

    //transition values for navigation's links
    .nav-item > .dropdown-toggle {
        font-weight: 400;
        width: 100%;
        position: relative;
        /* inline border on hover */
        &::before {
            opacity: 0;
            content: "";
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            border: 1px solid $white-color;
            border-radius: 0.25em;
            position: absolute;
        }

        &:hover::before {
            opacity: 1;
            transition: opacity 550ms ease;
        }
    }

    .nav-link:focus,
    .nav-link:active {
        background-color: $nav-link-focus !important;
    }

    /* border for my-data button */

    #my-data a::after {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        border-radius: 0.25em;
        border: 1px solid $white-color;
    }
    /* width for the dropdown menu */
    .dropdown-menu {
        min-width: 14.2rem !important;
    }

    .dropdown-item {
        background-color: $primary-common !important;
    }

    //on-hover behavior for navigation's links

    .dropdown-item:hover,
    .dropdown-item:active,
    .dropdown-item:focus,
    .dropdown-item:focus-within,
    .dropdown-item:target {
        background-color: $primary-dark !important;
    }

    /* submenus positioning */

    .dropdown-submenu .dropdown-menu {
        top: -2px;
        left: 226px;
    }

    .user_menu_item:hover {
        color: $white-color !important;
        background-color: transparent;
        text-shadow: 0 0 2px $white-color;
        transition: all 500ms ease;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            border-radius: 0.25em;
            border: 1px solid $white-color;
        }
    }

    .user_menu_item:focus {
        color: $white-color !important;
        background-color: transparent;
        text-shadow: 0 0 2px $primary-color;
        transition: all 500ms ease;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            border-radius: 0.25em;
            border: 1px solid $white-color;
        }
    }
}

/* behavior of the navigation section on-hover */

.navbar:hover,
.dropdown-item:hover {
    opacity: 1;
    transition: all 1s ease;
}

/*effect for the bg home page*/
#home {
    /* animation effect for the bg birthday part */
    $particleSize: 30vmin;
    $animationDuration: 6s;
    $amount: 20;
    .particles {
        span {
            width: $particleSize;
            height: $particleSize;
            border-radius: $particleSize;
            backface-visibility: hidden;
            position: absolute;
            animation-name: move;
            animation-duration: $animationDuration;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            $colors: (#c885ff, #f3d9ff, #85e8ff);

            @for $i from 1 through $amount {
                &:nth-child(#{$i}) {
                    color: nth($colors, random(length($colors)));
                    top: random(100) * 1%;
                    left: random(100) * 1%;
                    animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
                    animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
                    transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
                    $blurRadius: (random() + 0.5) * $particleSize * 0.5;
                    $x: if(random() > 0.5, -1, 1);
                    box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
                }
            }

            @keyframes move {
                100% {
                    transform: translate3d(0, 0, 1px) rotate(360deg);
                }
            }
        }
    }

    /*carousel*/
    .carousel-item {
        max-height: 500px !important;
    }

    .carousel-item > .carousel-caption {
        background-color: $primary-common-light-through;
        transition: all 500ms ease;

        &:hover {
            background-color: $primary-color-through;

            > p {
                color: $white-color;
                text-shadow: $shadow-dark;
            }
        }

        > p {
            color: $primary-color;
            line-height: 1.2 !important;
            text-shadow: $shadow;
            opacity: 1 !important;
        }
    }

    .carousel-indicators li {
        background-color: $primary-color !important;
        background-clip: unset !important;
        width: 20px !important;
        height: 0 !important;
        margin-bottom: 7px !important;
        border-radius: 30px !important;
        position: relative;
        /* outlines for indicators */
        &::after {
            content: "";
            position: absolute;
            border: $white-color 2px solid;
            left: 0;
            top: -10px;
            right: 0;
            bottom: 0;
            height: 20px;
            border-radius: 30px;
        }
    }

    /* birthday and announcement styling */

    .bg_birthday {
        background-color: $primary-lightest-through;
        min-height: 70vh;
        width: 39.8125em;
        z-index: 1;
        h4 {
            text-shadow: $shadow;
        }

        li > b {
            text-shadow: $shadow;
        }
    }

    .bg_announcement {
        background: $bg-navbar;
        line-height: 1.1 !important;
        text-align: justify;

        h4 {
            text-shadow: $shadow-dark;
        }

        > ul > li {
            &::before {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                float: left;
                width: 1.2em;
                height: 1.2em;
                color: $white-color;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                font-weight: 700;
                font-size: 1.2em;
                border: 1px dashed $primary-common-light;
                border-radius: 0.6em;
                content: "!";
            }
        }

        > ul > li > a {
            transition: all 1000ms ease;
            > span {
                margin-left: 1em;
                opacity: 0;
            }

            &:hover,
            &:focus {
                background-color: $primary-common;
                text-decoration: none !important;
                > span {
                    opacity: 1;
                    margin-left: 1.8em;
                    transition: all 1000ms ease;
                }
            }
        }
    }
}

/* login page */

#login {
    background: url("../img/main-bg.jpg") bottom/cover fixed no-repeat;
}

#main {
    background: url("../img/try3.png") left/cover no-repeat fixed;
    min-height: 110vh;

    .card-header:hover,
    .card-header:focus {
        opacity: 0.9 !important;
    }

    #news-category {
        > div.col-6 > .card > .card-body {
            background-color: $primary-color-through;

            &::before {
                border-top: 2px solid $white-color;
                border-bottom: 2px solid $white-color;
            }

            &::after {
                border-left: 2px solid $white-color;
                border-right: 2px solid $white-color;
            }
        }

        > :last-child {
            .card-body {
                background-color: $primary-common-light-through !important;

                &::before {
                    border-top: 2px solid $primary-color !important;
                    border-bottom: 2px solid $primary-color !important;
                }

                &::after {
                    border-left: 2px solid $primary-color !important;
                    border-right: 2px solid $primary-color !important;
                }
            }
        }

        .card-body {
            background-color: $primary-color-through;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0.25em;
                bottom: 0.25em;
                left: 0.25em;
                right: 0.25em;
                z-index: -1;
            }

            &::before {
                transform: scale(0, 1);
                transition: transform ease-in-out 250ms;
                border-top: 2px solid $white-color;
                border-bottom: 2px solid $white-color;
            }

            &:hover::before {
                transform: scale(1, 1);
            }

            &::after {
                transform: scale(1, 0);
                transition: transform ease-in-out 250ms;
                border-left: 2px solid $white-color;
                border-right: 2px solid $white-color;
            }

            &:hover::after {
                transform: scale(1, 1);
            }

            .news_link:hover {
                opacity: 0.8;
            }
        }
    }

    #announcement-description {
        .card > .row > div > .card-block {
            > img {
                width: 50%;
            }

            > p {
                text-align: justify;
            }
        }
    }

    #announcement-list {
        .card {
            height: auto;
            z-index: 2;
            opacity: 0.85;

            .card-block {
                height: 150px;
                overflow: hidden;
            }
            .img-fluid {
                z-index: -1;
            }

            &:hover {
                opacity: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 3px;
                right: 3px;
                z-index: -1;
            }

            &::after {
                border: 2px solid $primary-common;
                transform: scale(0, 0);
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
    }

    #mgok-news {
        .card {
            cursor: pointer;
            height: 35em;
            z-index: 1;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 3px;
                right: 3px;
                z-index: 0;
            }

            &::after {
                border: 2px solid $white-color;
                transform: scale(0, 0);
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
        /* label for the img card */
        .span_accent {
            right: 0.5em;
            top: 0.5em;
        }

        .card-title,
        .card-text {
            text-align: justify;
            line-height: 1.2 !important;
        }

        .card-footer > a {
            z-index: 5;
        }
    }
    /* pagination */
    .page-link:focus {
        box-shadow: none !important;
        outline: none !important;
    }

    #news-description {
        .card-title,
        .card-text {
            text-align: justify;
        }
        /* Gallery */
        .gallery {
            display: none;

            .work-item-img {
                transform: scale(1.1);
            }

            /* Hover effect for img */
            .work-item:hover .work-item-img {
                opacity: 0.5;
            }

            .work-item-icon {
                position: absolute;
                color: $white-color;
                top: 60%;
                left: 50%;
                font-size: 3.5em;
                text-decoration: none;
                transition: all 500ms linear;
                transform: scale(0);
            }

            /* Hover effect for icon */
            .work-item:hover .work-item-icon {
                transform: scale(1.3) translate(-50%, -50%);
            }

            .work-item-icon:hover {
                color: $dark-overlay;
                cursor: pointer;
            }

            /*modal*/

            .work-modal-close {
                font-size: 3rem;
                bottom: 80%;
                transition: all 0.5s linear;
                cursor: pointer;
                text-decoration: none;
                opacity: 1;
            }
        }
    }

    #respect-desk,
    #competition-list {
        h2,
        h3 {
            background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
            text-shadow: $primary-color 0 0 3px;
        }

        .card .respect_name > p {
            text-shadow: $white-color 0 0 2px;
        }

        .card .card-body {
            text-align: justify;
            > p {
                line-height: 1.25 !important;
            }

            .respect_item_name {
                font-size: 1.2em;
            }
        }
    }

    #competition-list {
        > :first-child {
            background-color: $primary-common-light-through;
            transition: all 500ms ease;
        }

        h5 {
            color: $white-color;
            text-shadow: $shadow-dark;
            background: linear-gradient(
                -35deg,
                rgba(48, 72, 120, 0.7),
                rgba(72, 144, 216, 0.5),
                rgba(48, 72, 120, 0.7)
            );
            background-size: 150% 150%;
            animation: gradient 6000ms ease infinite;

            @keyframes gradient {
                0% {
                    background-position: 0% 100%;
                }
                50% {
                    background-position: 100% 0%;
                }
                100% {
                    background-position: 0% 100%;
                }
            }
        }
        .left_lg_list p.d-flex {
            min-height: 78px;
            border: $primary-common solid 1px;
        }

        .right_lg_list p.d-flex {
            min-height: 50px;
            max-height: 150px;
            border: $primary-common solid 1px;
        }

        .type_title {
            border: $primary-color 1px dotted;
        }
    }

    /* slider */
    #best-team {
        min-height: 110vh;

        h2 {
            background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8));
        }

        .see_modal {
            top: 0;
            left: 0;
        }

        #carousel-indicators .carousel-item {
            max-height: 650px;
            bottom: 0;
        }

        .carousel > ol.carousel-indicators {
            width: auto;

            > li {
                text-indent: unset !important;
                width: 120px;
                height: 60px;
                border: none !important;
                border-radius: 0 !important;
            }
        }

        #carouselModal > .carousel-inner > .carousel-item {
            .carousel-inner > .carousel-item {
                max-height: auto !important;
            }
        }

        .modal > .modal-dialog {
            max-width: 1200px !important;
            margin: 0 auto !important;

            .modal_slider_close {
                right: 0;
                z-index: 10;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            top: -140px !important;
            margin-top: 225px;
            height: 50%;
        }
    }

    #avarage-salary {
        > :first-child {
            background-color: $primary-color-through;
            transition: all 500ms ease;
        }

        div.table > table {
            line-height: 1 !important;
            border-color: $primary-dark !important;
        }

        .table-hover tbody tr:hover {
            color: $primary-dark !important;
        }
        .table-hover .table-light:hover {
            background-color: $white-color !important;
        }

        .table-light tbody + tbody,
        .table-light td,
        .table-light th,
        .table-light thead th {
            border-color: $primary-dark !important;
        }
    }

    #open-positions {
        > :nth-of-type(2) > .row > ul > li {
            padding: .5em 1em;
            border: transparent 1px dotted;
            transition: all 500ms ease;
            > a {
                margin-left: 2em;
                text-decoration: none !important;
                transition: all 500ms ease;
            }
            &:hover {
                margin-left: 1.8em;
                background-color: $white-color;
                border: $primary-common-light 1px dotted;
            }

            &:hover a {
                margin-left: .2em;
            }
        }

        > :nth-of-type(2) > :first-child > img {
            opacity: .5;
        }
    }
}

#personalRoom {
    min-height: 120vh;
    background-color: $light-through;
    /* preloader */
    aside > .table > #divloader {
        display: none;
        min-height: 50vh;

        .preload {
            height: 10em;
            width: 10em;
            border-radius: 50%;
            border: 1em solid $primary-light;
            animation: 3s pre linear infinite;
        }
        @keyframes pre {
            0% {
                transform: rotate(0deg);
                border-top: 1em solid $primary-dark;
            }

            12% {
                transform: rotate(43deg);
                border-top: 1em solid $primary-dark;
            }

            25% {
                transform: rotate(90deg);
                border-top: 1em solid $primary-dark;
            }

            37% {
                transform: rotate(133deg);
                border-top: 1em solid $primary-dark;
            }

            50% {
                transform: rotate(180deg);
                border-top: 1em solid $primary-dark;
            }

            62% {
                transform: rotate(223deg);
                border-top: 1em solid $primary-color;
            }

            75% {
                transform: rotate(270deg);
                border-top: 1em solid $primary-color;
            }

            87% {
                transform: rotate(313deg);
                border-top: 1em solid $primary-color;
            }

            100% {
                transform: rotate(360deg);
                border-top: 1em solid $primary-color;
            }
        }
    }

    .btn-transparent:hover {
        color: $primary-common !important;
    }

    aside {
        > a[data-toggle="modal"] {
            top: 0.35em;
            right: 0.35em;
            color: $primary-color;

            &:hover,
            :focus {
                color: $primary-dark;
                transition: all 500ms ease-in-out;
            }
        }

        .modal-dialog {
            min-width: 100%;
        }

        .modal-body > a[data-dismiss="modal"] {
            right: 1.8%;
            bottom: 88%;
        }
    }

    /* table styling */
    table {
        line-height: 1 !important;
        padding: 0.5em !important;
        width: 100%;
        font-size: 0.9em;

        &.table-hover {
            tbody tr:hover {
                color: $primary-color !important;
                background-color: $primary-common-light !important;
                transition: background-color 500ms ease;
            }
        }

        tbody {
            td,
            th {
                padding: 0.3em !important;
            }

            .R26C0,
            .R28C0 {
                text-align: justify;
                white-space: wrap;
                hyphens: auto;
            }

            tr {
                .R13C16,
                .R14C16,
                .R15C16,
                .R16C16,
                .R21C9,
                .R22C16,
                .R23C16,
                .R27C16,
                .R28C16,
                .R37C16 {
                    display: none !important;
                }

                .R26C1,
                .R27C1,
                .R28C1,
                .R36C7 {
                    text-align: right;
                }

                .R26C3,
                .R28C3 {
                    text-align: center;
                }

                .R24C3 {
                    max-width: 34px;
                }

                td:last-of-type,
                td:nth-last-of-type(2) {
                    display: none !important;
                }

                .R31C0 {
                    font-weight: bold;
                }
            }

            tr:nth-last-of-type(4),
            tr:nth-last-of-type(5),
            tr:nth-last-of-type(7),
            tr:nth-last-of-type(9) {
                font-weight: bold;
            }

            tr:first-of-type {
                background-color: $primary-common-light !important;
                font-size: 1.2em !important;
                font-weight: 500 !important;
            }

            tr:nth-of-type(2),
            tr:nth-of-type(8) {
                font-size: 0.8em !important;
                font-weight: 500 !important;
            }

            tr:nth-of-type(3) {
                > :first-child {
                    font-size: 1.1em !important;
                }
            }

            tr:first-of-type,
            tr:nth-of-type(3),
            tr:nth-of-type(5),
            tr:nth-of-type(7),
            tr:nth-of-type(12) {
                font-weight: 700;
            }

            tr:first-of-type,
            tr:nth-of-type(2),
            tr:nth-of-type(3),
            tr:nth-of-type(5) {
                overflow: unset !important;
            }

            tr:nth-of-type(10) {
                background-color: $primary-common-light !important;
                vertical-align: top !important;

                td:nth-of-type(3) {
                    overflow: hidden;
                }

                td:nth-of-type(2),
                td:nth-of-type(3),
                td:nth-of-type(4),
                td:nth-of-type(7) {
                    text-align: center;
                }

                td:nth-of-type(5),
                td:nth-of-type(7) {
                    overflow: unset;
                }

                td:nth-of-type(5),
                td:nth-of-type(8) {
                    text-align: right;
                }

                td:first-of-type,
                td:nth-of-type(6) {
                    text-align: left !important;
                }
            }

            tr:nth-of-type(11) {
                background-color: $primary-common-light !important;
                font-size: 0.75em !important;
                text-align: center;
            }
        }
    }
}

//footer style
#footer {
    background: linear-gradient(to top, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)),
        url("../img/bg-test.jpg") center/cover no-repeat;
    line-height: 1.2 !important;
    min-height: 100px;
    color: $white-color;

    //size of social links
    .social_link {
        color: $white-color !important;
    }

    .social_link:hover {
        color: $primary-common-light !important;
    }
}
/* scroll -to- top button */
.scrollup {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: $primary-lightest-through;
    z-index: 1000;
}

/* media queries for different screen resolutions */

@media screen and (min-width: 571px) and (max-width: 756px) {
    @-moz-document url-prefix() {
        .navbar button.navbar-toggler {
            margin-right: -2px;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
    #login,
    #main,
    #home {
        background-attachment: scroll;
    }
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
    /*submenus*/
    .navbar .dropdown-submenu .dropdown-menu {
        top: -2px;
        left: 225px;
    }
}

@media screen and (max-width: 1198px) {
    #personalRoom {
        .table table {
            width: 830px !important;
        }
    }
}

@media screen and (max-width: 576px) {
    #main {
        #mgok-news {
            .card {
                height: auto;
                z-index: 1;
                opacity: 0.8;

                &:not(hover) {
                    opacity: 1;
                }
            }
        }

        #announcement-description {
            .card-body {
                position: absolute;
                border: $white-color 5px solid;
                top: 1.5em;
                left: 1.5em;
                bottom: 1.5em;
                right: 1.5em;

                p {
                    line-height: 1 !important;
                }
            }
        }
    }
}

@media screen and (min-width: 276px) and (max-width: 992px) {
    /* tooltips */

    .bs-tooltip-auto[x-placement^="bottom"],
    .bs-tooltip-bottom {
        display: none;
    }

    #news-description {
        // Gallery
        .gallery {
            display: none;
            /* disable hover effect for img */
            .work-item:hover .work-item-img {
                opacity: 1 !important;
            }

            .work-item-icon {
                width: min-content;
                top: 0;
                left: 0;
                right: 0;
                bottom: -117px;
                transform: scale(2) !important;
                opacity: 0.5;
            }
        }
    }

    #respect-desk {
        .card .respect_name {
            width: 100%;
            top: 90%;
            left: 50%;
            line-height: 1 !important;
            transition: 0.5s ease;
            opacity: 1;
            transform: translate(-50%, -90%);
        }
        .card .card-img-top {
            opacity: 1;
            backface-visibility: visible;
        }

        .card not:hover .card-img-top {
            transform: scale(1, 1);
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .btn_responsive {
        width: 50%;
    }
}

@media (min-width: 576px) {
    h3 {
        font-size: 1.3em;
    }
}

@media (min-width: 768px) {
    .navbar {
        // background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)),
        //     url("../img/header-idea.jpg") left / cover no-repeat;
        background: linear-gradient(to bottom, rgba(48, 72, 120, 0.9), rgba(72, 144, 216, 0.8)),
            url("../img/mgok-video-header.png") center/cover no-repeat;
    }

    h3 {
        font-size: 1.4em;
    }

    #respect-desk {
        .card {
            height: auto;
            overflow: unset;
        }
    }
}

@media (min-width: 992px) {
    /* accordion left-menu styling*/

    #accordionLib {
        .card:hover {
            .card-header {
                opacity: 0.9 !important;
                border-left: 2px solid $primary-dark;
                transition: border 450ms ease-in-out;
            }
        }
    }

    h3 {
        font-size: 1.6em;
    }

    #respect-desk {
        .card {
            height: 545px;
            overflow: hidden;
            transition: all 500ms ease;

            .respect_name {
                width: 100%;
                top: 95%;
                left: 50%;
                line-height: 1 !important;
                transition: 500ms ease;
                opacity: 0;
                transform: translate(50%, 95%);
            }

            .card-img-top {
                opacity: 0.85;
                transform: scale(1, 1);
                transition: 1500ms linear;
                backface-visibility: hidden;
            }

            &:hover .card-img-top {
                transform: scale(1.2, 1.2);
                opacity: 1;
            }

            &:hover {
                height: auto;
                position: absolute;
                overflow: unset;
                z-index: 100;
            }
        }
    }

    #best-team {
        .mySlides {
            display: none;
            max-height: 500px;

            .img-width {
                width: 100%;
                margin-top: -50px;
            }
        }
    }

    #news-description {
        #showPhotos {
            &::after {
                content: "";
                position: absolute;
                opacity: 0;
                top: 7px;
                left: 5px;
                right: 9px;
                bottom: 6px;
                border: 2px solid $primary-common-light;
                border-radius: 11px;
            }

            &:hover::after {
                opacity: 1;
                transition: opacity 500ms linear;
            }

            &:hover {
                transform: scale(0.85);
                transition: all 500ms linear;
            }
        }

        #hidePhotos {
            color: $primary-color;

            &:hover {
                color: $primary-dark;
            }
        }

        /* close modal button */
        .work-modal-close {
            bottom: 92% !important;
            transition: all 500ms linear;
            cursor: pointer;
            text-decoration: none;
            opacity: 1;
        }
    }
    .scrollup {
        display: none;
        position: fixed;
        bottom: 155px;
        right: 20px;
        background-color: $primary-lightest-through;
        z-index: 1000;
    }
}

@media screen and (max-width: 767px) {
    // bg-menu

    /* nav-links on focus */

    .navbar-nav :nth-child(6) > .nav-link:active,
    .navbar-nav :nth-child(7) > .nav-link:active,
    .navbar-nav :nth-child(8) > .nav-link:active,
    .navbar-nav :nth-child(9) > .nav-link:active,
    .navbar-nav :nth-child(10) > .nav-link:active {
        background-color: transparent !important;
        opacity: 0.5;
    }

    .navbar {
        overflow-y: scroll;

        .nav-item > .dropdown-toggle {
            /* inline border on focus */
            &::before {
                opacity: 0;
                content: "";
                top: 1px;
                left: 1px;
                right: 1px;
                bottom: 1px;
                border: 1px solid $white-color;
                border-radius: 0.25em;
                position: absolute;
                z-index: -1;
            }

            &:focus::before {
                opacity: 1;
                background-color: $nav-link-focus;
                transition: opacity 550ms ease;
            }
        }

        .user_menu_item {
            width: 65%;
        }

        .user_menu_item:hover,
        .user_menu_item:focus {
            color: $white-color !important;
            background-color: transparent;
            text-shadow: 0 0 2px $white-color;
            transition: all 500ms ease;
            &::after {
                content: "";
                display: block;
                position: absolute;
                background-color: $nav-link-focus;
                top: 10px;
                bottom: 10px;
                left: 15%;
                right: 15%;
                border-radius: 0.25em;
                border: 1px solid $white-color;
                z-index: -1;
            }
        }

        #my-data a::after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 15%;
            right: 15%;
            border-radius: 0.25em;
            border: 1px solid $white-color;
        }

        .width_dropdown_smallscreen {
            width: 100%;
        }
    }

    .bg_announcement {
        > ul > li > a {
            > span {
                margin-left: 1.8em !important;
                opacity: 1 !important;
            }

            &:not(hover),
            &:not(focus) {
                background-color: $primary-common;
                text-decoration: none !important;
            }
        }
    }

    #news-category {
        .card-body {
            z-index: 1;

            &::before,
            &::after {
                display: none;
            }

            & not:hover::before {
                transform: scale(0, 0);
            }

            & not:hover::after {
                transform: scale(0, 0);
            }
        }
    }

    #main {
        #best-team {
            .carousel-control-prev .carousel-control-prev-icon,
            .carousel-control-next .carousel-control-next-icon {
                margin-top: 0;
            }
        }

        #announcement-description {
            .float_left {
                float: unset;
            }
            .card > .row > div > .card-block {
                > img {
                    width: 100%;
                }

                > p {
                    text-align: justify;
                }
            }
        }
    }
}

@media screen and (max-width: 715px) {
    #personalRoom {
        .modal-body > table {
            tbody {
                .R28C3 {
                    text-align: right !important;
                }

                tr:nth-of-type(10) {
                    > :nth-of-type(3) {
                        overflow: hidden !important;
                    }
                }

                tr:nth-of-type(11) {
                    > :nth-of-type(2),
                    :nth-of-type(4) {
                        overflow: hidden !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 775px) {
    #personalRoom {
        aside {
            > a[data-toggle="modal"] {
                top: 0.5em;
                right: 0.4em;

                &:not(:hover),
                :focus {
                    color: $primary-dark;
                }
            }
        }
        .modal-body > table {
            tbody {
                tr:nth-last-of-type(4) {
                    > :first-child,
                    :nth-of-type(3) {
                        overflow: hidden !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 784px) {
    #personalRoom {
        aside .modal-body > table {
            table-layout: fixed !important;
            tbody {
                tr:nth-last-of-type(4) {
                    > :first-child,
                    :nth-of-type(3) {
                        overflow: hidden !important;
                    }
                }

                .R26C0,
                .R28C0 {
                    border-right: 1px solid transparent !important;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        min-height: 80px;
    }

    #main {
        background: url("../img/try3.png") center/cover no-repeat fixed;
    }

    h3 {
        font-size: 2.4em;
    }

    #personalRoom {
        .modal-content {
            width: 1150px;
            .modal-body table {
                font-size: 1.2em;
            }
        }
    }

    #carouselModal {
        .carousel-control-prev,
        .carousel-control-next {
            margin-top: 300px !important;
        }
    }
}
